<div class="container">
<div class="row">
  <div class="col-3">
  </div>
  <div class="col-6">
    <div class="card" style="width: 30rem;">
      <div class="card-header d-flex ">
        All boards
        <button  class="btn btn-outline-success ms-auto" style="width: 10rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a new board</button>
      </div>

      <ul class="list-group list-group-flush">
      <% @list_of_boards.each do |a_board| %>
        <li class="list-group-item" >
        
          <a href="/boards/<%= a_board.id %>" class="d-flex list-group-item list-group-item-action"> 
            <%= a_board.name %>
            <div class="ms-auto">
            <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
    </div>
    <div class="col-3">
    </div>
    </div>
</div>
<!--modal------------------------------------------------------------------------------>
<div class="modal" tabindex="-1" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Board</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_board" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      
   
      </div>
        <button type="button" class="btn btn-primary " style="width: 15rem;">Add board</button>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
       </form>
    </div>
  </div>
</div>


