<div class="container">
<div class="row">
  <div class="col-3">
  </div>
  <div class="col-6">
    <div class="card" style="width: 30rem;">
      <div class="card-header d-flex ">
        All boards
        <a href="#" class="btn btn-outline-success ms-auto" style="width: 10rem;">Add a new board</a>
      </div>

      <ul class="list-group list-group-flush">
      <% @list_of_boards.each do |a_board| %>
        <li class="list-group-item" >
        
          <a href="/boards/<%= a_board.id %>" class="d-flex list-group-item list-group-item-action"> 
            <%= a_board.name %>
            <div class="ms-auto">
            <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
    </div>
    <div class="col-3">
    </div>
    </div>
</div>
<!--modal------------------------------------------------------------------------------>
<div>
  <div>
    <h2>
      Add a new board
    </h2>

    <form action="/insert_board" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Add board
      </button>
    </form>
  </div>
</div>
